body {
  background-color: #9fc088;
  color: #614124;
}

input {
  border: 1px solid #614124;
  border-radius: 4px;
  color: #614124;
  font-size: 20px;
  width: 50vw;
}

.btn-light {
  background-color: #e8c07d;
  border-color: #e8c07d;
}
